* {
    margin: 0;
    font-family: "Roboto Slab", serif;
    color: rgb(56, 56, 76);
    background-color: transparent;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background: center / cover no-repeat url(images/headerBG_4.png);
    filter: drop-shadow(0 0 .2rem rgba(56, 56, 76, 1));
    padding: 1rem;
    top: 0;
    left: 0;
}

header h1 {
    color: white;
}

header h4 {
    color: rgb(240, 240, 220);
    font-weight: 100;
}

body {
    padding: 0 5rem;
    margin: 8rem auto 0;
    max-width: 50rem;
}

img {
    width: 100%;
}

p {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

section {
    padding: 1rem 0;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.headshot {
    min-width: 20rem;
    min-height: 20rem;
    background: center 15% / cover no-repeat url(images/headshot.webp);
}

.work-link {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    text-align: center;
    flex-wrap: wrap;
}

.work-link-image {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: center / cover no-repeat white;
    transition: all.2s ease-in-out;
}

.work-link a:hover .work-link-image {
    transform: translateY(-1rem);
    filter: drop-shadow(0 0 .2rem rgba(56, 56, 76, .5));
}

.work-link-image-homeward {
    background-image: url(images/homeward.png);
}

.work-link-image-phonAware {
    background-image: url(images/phonAware.JPG);
}

.work-link-image-lottie {
    background-image: url(images/lottieLink.JPG);
}

.work-link-image-ui {
    background-image: url(images/animatedSVGElements.JPG);
}

.work-link-image-about {
    background-image: url(images/headshot.webp);
}

.image-container {
    margin: auto;
}

.image-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem;
}

.image-group .image-container {
    flex-basis: 30%;
}

.about-link {
    justify-content: center;
}

@media screen and (min-width: 48rem) {
    h3 {
        margin-top: 0;
    }

    .about {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .image-group {
        flex-direction: row;
    }
}