* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    position: fixed;
    width: 100%;
    background-image: url(images/headerBG_4.png);
    background-color: rgb(255, 255, 255);
    background-repeat: repeat;
    background-size: 75rem;
    filter: drop-shadow(0 0 .2rem rgba(56, 56, 76, 1));
    padding: 1rem 0;
    top: 0;
    left: 0;
    z-index: 1;
}

nav:hover {
    cursor: pointer;
}

nav {
    color: rgb(240, 240, 250);
    font-weight: 200;
    font-size: 1.25rem;
}

body {
    padding: 0 1rem;
    margin: 8rem auto 0;
    max-width: 50rem;
    color: rgb(56, 56, 76);
    background-color: rgb(245, 248, 252);
}

img {
    width: 100%;
}

p {
    font-family: "IBM Plex Serif", serif;
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: rgb(56, 56, 76);
}

section {
    padding: 1rem 0;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 4rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    font-weight: 400;
    font-size: 1.75rem;
}

h4 {
    font-weight: 200;
    font-size: 1.5rem;
}

h5 {
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
}

h6 {
    font-weight: 400;
    font-size: 1rem;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

.nav {
    /* padding: 0 .5rem; */
    border-radius: 2rem;
    filter: drop-shadow(0 0 .25rem rgba(245, 248, 252, 0));
}

.nav:hover {
    filter: drop-shadow(0 0 .5rem rgba(245, 248, 252, .5));
}

.nav-group-left {
    margin-left: 1rem;
}

.nav-group-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1.25rem;
    margin-right: 1rem;
}

.nav-group-left nav {
    font-weight: 600;
}

.nav-group-right nav {
    font-size: 1rem;
}

.name {
    text-align: center;
    margin: 2rem 0;
}

.name-letters {
    height: 7.5rem;
}

.name-letters span {
    position: absolute;
    margin: -.5rem;
    transform-origin: bottom center;
}

.name-letter-1 {
    left: 41%;
    animation: name-letters 15000ms infinite ease-in-out 1000ms;
}

.name-letter-2 {
    left: 45%;
    animation: name-letters 15000ms infinite ease-in-out 1100ms;
}

.name-letter-3 {
    left: 50.5%;
    animation: name-letters 15000ms infinite ease-in-out 1200ms;
}

.name-letter-4 {
    left: 56%;
    animation: name-letters 15000ms infinite ease-in-out 1300ms;
}

.name-letter-5 {
    left: 33%;
    animation: name-letters 15000ms infinite ease-in-out 2000ms;
}

.name-letter-6 {
    left: 37.5%;
    animation: name-letters 15000ms infinite ease-in-out 2100ms;
}

.name-letter-7 {
    left: 42.5%;
    animation: name-letters 15000ms infinite ease-in-out 2200ms;
}

.name-letter-8 {
    left: 47.5%;
    animation: name-letters 15000ms infinite ease-in-out 2300ms;
}

.name-letter-9 {
    left: 52.5%;
    animation: name-letters 15000ms infinite ease-in-out 2400ms;
}

.name-letter-10 {
    left: 58%;
    animation: name-letters 15000ms infinite ease-in-out 2500ms;
}

.name-letter-11 {
    left: 63%;
    animation: name-letters 15000ms infinite ease-in-out 2600ms;
}

.name-letter-12 {
    left: 68%;
    animation: name-letters 15000ms infinite ease-in-out 2700ms;
}

.name h4 {
    font-size: 1.5rem;
}

.name hr {
    margin: .6rem auto 1rem;
    width: 0%;
    animation: line-out forwards 1200ms cubic-bezier(0,1.59,.6,.83) 500ms;
}

.card {
    background-color: rgb(250, 250, 255);
    filter: drop-shadow(0 -.2rem .1rem rgba(255, 255, 255, 1)) 
            drop-shadow(0 .2rem .1rem rgba(56, 56, 76, .2))
            drop-shadow(0 .2rem .25rem rgba(56, 56, 76, .05));
}

.card p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.headshot {
    min-width: 20rem;
    min-height: 20rem;
    background: center 15% / cover no-repeat url(images/headshot_3.png);
    margin-bottom: 1rem;
}

.work-link {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.work-link-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1.3rem;
    border-radius: 2rem;
    background-color: rgb(245, 248, 252);
    filter: drop-shadow(-.5rem -.5rem .25rem rgba(255, 255, 255, 1)) 
            drop-shadow(.5rem .5rem .5rem rgba(56, 56, 76, .05))
            drop-shadow(.75rem .75rem .75rem rgba(56, 56, 76, .075));
}

.work-link-btn:active {
    filter: none;
    box-shadow: inset -.5rem -.5rem .25rem rgba(255, 255, 255, 1), 
                inset .5rem .5rem .5rem rgba(56, 56, 76, .05), 
                inset .75rem .75rem .75rem rgba(56, 56, 76, .075);
}

.work-link-btn:hover .work-link-image {
    transform: translateY(-.5rem);
    filter: drop-shadow(0 0 .5rem rgba(56, 56, 76, .2));
}

.work-link-btn:active .work-link-image {
    transform: translateY(0);
    filter: drop-shadow(0 0 0 rgba(56, 56, 76, .5));
    transition: transform 400ms cubic-bezier(0,1.59,.6,.83), filter 400ms cubic-bezier(0,1.59,.6,.83);
}

.work-link-image {
    width: 7rem;
    height: 7rem;
    min-width: 7rem;
    border-radius: 100%;
    background: center / cover no-repeat white;
    filter: drop-shadow(0 0 -.01rem rgba(56, 56, 76, .5));
    transition: transform 400ms ease-in-out, filter 400ms ease-in-out;
}

.work-link-image-homeward {
    background: -.5rem -1.2rem / 120% url(images/homeward.JPG);
}

.work-link-image-phonAware {
    background: .1rem .1rem / 102% url(images/phonAware_2.JPG);
}

.work-link-image-introToPC {
    background: -1.12rem -.8rem  / 133% url(images/IntroToPC_thumbnail.JPG);
}

.work-link-image-wordKnowledge {
    background-image: url(images/WK_thumbnail.JPG);
}

.work-link-image-lottie {
    background-image: url(images/lottieLink.JPG);
}

.work-link-image-ui {
    background-image: url(images/animatedSVGElements.JPG);
}

.work-link-image-about {
    background-image: url(images/headshot.webp);
}

.image-container {
    margin: auto;
}

.image-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem;
}

.image-group .image-container {
    flex-basis: 30%;
}

.banner-image {
    width: 100%;
    min-height: 15.625rem;
    flex-grow: 1;
    flex-shrink: 2;
}

.about-link {
    justify-content: center;
}

.lottie-chest-homepage-container {
    overflow: visible;
    width: 7rem;
    height: 7rem;
    margin: 0;
    pointer-events: none;
}

.summary-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0 1rem;
}

.summary-subsections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.roles-responsibilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.summary-subsections-subsection {
    padding: 1rem;
}

.summary-subsections-subsection hr {
    margin: .5rem -.5rem;
    border: .05rem solid rgba(56, 56, 76, .15);
}

.summary-subsections-subsection-title {
    margin: 0;
}

.summary-subsections-subsection-list p {
    margin: 0;
}

.team .summary-subsections-subsection-list p {
    margin: 0;
}

.team-member-name {
    margin-left: 1rem;
}

#lottie-chest-homepage {
    transform: scale(2) translate(.35rem, -.6rem);
}

@media screen and (min-width: 48rem) {
    .desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }

    body {
        padding: 0 5rem;
    }
    
    h3 {
        margin-top: 0;
    }

    .name-letters {
        height: 11rem;
    }

    .about {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .image-group {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .headshot {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 32.25rem) {
    h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    .name-letters span {
        margin: -.8rem;
    }

    .nav-group-left {
        margin-left: 2rem;
    }
    
    .nav-group-right {
        margin-right: 2rem;
    }

    .work-link {
        gap: 3rem;
    }

    .work-link-image {
        width: 10rem;
        height: 10rem;
    }

    .work-link-image-homeward {
        background: -.5rem -1.2rem / 120% url(images/homeward.JPG);
    }

    .work-link-image-phonAware {
        background: .1rem .1rem / 102% url(images/phonAware_2.JPG);
    }

    .work-link-image-introToPC {
        background: -1.6rem -1.15rem  / 133% url(images/IntroToPC_thumbnail.JPG);
    }

    .work-link-btn {
        flex-direction: column;
        justify-content: center;
        width: 12rem;
    }

    .lottie-chest-homepage-container {
        width: 10rem;
        height: 10rem;
    }

    #lottie-chest-homepage {
        transform: scale(2) translate(.6rem, -1rem);
    }
    
    .summary-container {
        flex-direction: row;
    }

    .summary-subsections {
        flex-direction: row;
        flex-basis: 30rem;
        flex-grow: 2;
        flex-shrink: 1;
    }

    .roles-responsibilities {
        display: flex;
        flex-direction: column;
    }

    .team-member-name {
        margin-left: 0;
    }
}

@keyframes name-letters {
    0% {
        transform: translateY(0) scale(1, 1);
    }
    4% {
        transform: translateY(0) scale(1.2, .8);
    }
    5% {
        transform: translateY(-1rem) scale(.8, 1.2);
    }
    6% {
        transform: translateY(0) scale(1.2, .8);
    }
    7% {
        transform: translateY(0) scale(.9, 1.1);
    }
    8% {
        transform: translateY(0) scale(1.05, .95);
    }
    9% {
        transform: translateY(0) scale(.98, 1.02);
    }
    10% {
        transform: translateY(0) scale(1, 1); 
    }
    100% {
        transform: translateY(0) scale(1, 1); 
    }
}

@keyframes line-out {
    100% {
        width: 33%;
    }
}