.summary-subsections h4 {
    margin-top: 0;
}

.finished-screens-gif {
    max-width: 20rem;
}

.banner-image {
    background: center / contain no-repeat url("images/homeward_demo.gif");
}

.team-responsibilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.banner-image {
    min-height: 30.625rem;
    max-width: 100%;
}

.summary-subsections {
    flex-direction: column;
    justify-content: start;
}

.epic-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 1rem;
}

.epic {
    max-width: 85%;
    margin: 0 auto;
}

.card-group {
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.feature-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.feature-group .card {
    max-width: none;
}

.goal-group {
    flex-direction: column;
}

.feature-title {
    margin: 0 0 1rem;
}

.card {
    max-width: 15rem;
    height: 100%;
    padding: 1rem;
    gap: .5rem;
}

.card-centered p {
    margin: .25rem 0;
    text-align: center;
}

.feature p {
    margin: .25rem 0;
    text-align: center;
}

.card .image-container {
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
}

.card img {
    mix-blend-mode: multiply;
    /* filter: grayscale(1); */
}

.card li {
    font-weight: 200;

}

.solution h5 {
    margin-bottom: 1rem;
}

td {
    border: .1rem solid rgba(56, 56, 76, .25);
    padding: .25rem .5rem;
    text-align: center;
}

th {
    /* max-width: 7rem; */
    text-align: left;
    text-wrap: wrap;
    font-weight: 600;
    border: .1rem solid rgba(56, 56, 76, .25);
    padding: .1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: .1rem solid rgba(56, 56, 76, .25);
    font-size: .75rem;
}

.table-top th {
    text-align: center;
    background-color: rgba(56, 56, 76, .1);
}

table .image-container {
    width: 1.5rem;
    height: 1.5rem;
}

.test-results .image-container {
    width: 1rem;
    height: 1rem;
}

.test-results th {
    text-align: center;
}

.test-results td {
    padding: 0;
}

.problems-image {
    mix-blend-mode: multiply;
    height: 100%;
}

.quote {
    margin: 2rem 0;
    width: 100%;
}

.quote-group {
    margin: 0 auto;
    max-width: 85%;
}

.quote p {
    font-size: 1.25rem;
    font-weight: 300;
}

.quote-group hr {
    width: 50%;
    margin: 0 auto;
}

.quote b {
    font-weight: 600;
    font-family: "IBM Plex Serif", serif;
}

@media screen and (min-width: 32.25rem) {
    .banner-image {
        max-width: 13.9rem;
        background-position: top left;
    }

    .feature-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem 0;
    }

    .feature-group .card {
        max-width: 15rem;
    }

    .goal-group {
        flex-direction: row;
    }
    
    table {
        font-size: 1rem;
    }

    th {
        padding: .25rem .5rem;
    }

    .test-results .image-container {
        width: 1.5rem;
        height: 1.5rem;
    }

    .quote {
        font-size: 1.5rem;
    }

    .quote-group {
        max-width: 75%;
    }
    
    .quote-group hr {
        width: 25%;
    }

    .epic-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .epic h6 {
        text-align: center;
    }
}

@media screen and (min-width: 48rem) {
    .problems-group-1 {
        display: grid;
        grid-template-columns: .9fr .52fr .93fr;
    }

    .problems-group-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}